.change-password{

    width:100%;

    max-width:500px;

    margin:50px auto;

    padding:30px;

    background:#fff;

    border-radius:12px;

    box-shadow:0 0 20px rgba(0,0,0,.1);

}

.change-password h1{

    text-align:center;

    margin-bottom:20px;

}

.change-password form{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.change-password input{

    padding:14px;

    border:1px solid #ccc;

    border-radius:8px;

}

.change-password button{

    padding:14px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    background:#2563eb;

    color:white;

}